:root{
    --main_color:#148ade;
    --dark_color:#14233c;
    --dark_green:#0a2b1e;
    --cyan_blue:#17bf9d44;
    --main_light: rgb(226, 239, 248);
    --dark_color_transparent:#14253c99;
    --main_transparent: rgba(226, 239, 248, 0.66);
 }
.choose_content{
    background: var(--main_transparent);
    border-radius: 10px;
    padding: 8px;
    padding-right: 50px;
    margin-bottom: 10px;
}
.choose_content div{
    display: flex;
}
.others,.others:hover{
    color: white;
    margin: 5px;
    background-color: var(--main_color);
    font-weight: 500;
    line-height: 1.2;
}
.others a{
    text-decoration: none;
    color: white;
}
.choose_img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.play_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    z-index: 8888;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.play_icon i{
    font-size: 2rem;
    padding: 10px;
}
.othersVideosPearent{
    display: flex;
    justify-content: end;
    margin: 5px;
}
.othersVideos,.othersVideos:hover{
    color: white;
    background-color: var(--main_color);
    font-weight: 500;
    line-height: 1.2;
}
.othersVideos a{
    color: white;
    text-decoration: none;
}