:root{
    --main_color:#a514de;
    --dark_color:#30143c;
    --dark_green:#0a2b1e;
    --cyan_blue:#17bf9d44;
    --main_transparent: rgb(241 226 248 / 66%);
}

.hero{
    position: fixed;
    width: 30%;
    bottom: 30px;
    left: 30px;
    z-index: 9999999;
}
.hero .RightArrow{
    background: yellow;
    border-radius: 20%;
    position: fixed;
    bottom: 30px;
    left: -70px;
    height: 10%;
    z-index: 9999999;
    cursor: pointer;
}
.hero img{
    height: 100%;
    width: 100%;
}
.top_right{
    flex: 10;
    position: relative;
}
.top_right> div {
    position: absolute;
    color: white;
    top: 55px;
    width: 301px;
    padding-left: 21px;
}
.top_right > img{
height: 230px;
}
.top_right
.buttom{
    margin-top: -45px;
}
.CloseHero {
    color: black;
    display: flex;
    justify-content: end;
    font-size: larger;
}
.CloseHero > span{
    border: 1px solid red;
    padding: 0px 10px 0px 10px;
    transition: all 1s;
    border-radius: 20%;

}
.CloseHero > span:hover{
    cursor: pointer;
    background-color: red;
    color: #ffff;
  
}
@media(max-width:991px){
    .top_right > .meUgur {
        font-size: 13px;
        width: 207px;
    }
}

@media(max-width:768px){
    .top_right > .meUgur {
        font-size: 12px;
        width: 162px;
        padding-left: 14px;
    }
    .hero {
        width: 185px;
        bottom: 0px;
        left: 0px;
    }
}
@media(max-width:375px){
    .top_right > .meUgur{
        font-size: 11px;
        width: 120px;
        padding-left: 14px;
    }
    .hero {
        width: 150px;
    }
}