:root{
    --main_color:#148ade;
    --dark_color:#14233c;
    --dark_green:#0a2b1e;
    --cyan_blue:#17bf9d44;
    --dark_color_transparent:#14253c99;
    --main_transparent: rgba(226, 239, 248, 0.66);
 }
.about_img{
    height: 85%;
    width: 90%;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.counter{
    font-size: 2rem;
    font-weight: 600;
    color: var(--main_color);
}
.counter_title{
    font-size: 1rem;
    color: var(--main_color);
    font-weight: 500;
}
.about_content{
    padding-left: 50px;
}