:root{
    --main_color:#148ade;
    --dark_color:#14233c;
    --dark_green:#0a2b1e;
    --cyan_blue:#17bf9d44;
    --dark_color_transparent:#14253c99;
    --main_transparent: rgba(226, 239, 248, 0.66);
 }
.footer{
    background: var(--main_transparent) ;
    text-align: center;
}
.owerflow{
   overflow: auto;
   height: 160px;
}
.owerflow::-webkit-scrollbar {
    display: none;
  }
.footer span{
    margin-left: 10px;
    font-size: 30px;
}
.footer .location {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 45px;
}
.loc_text{
    text-align: center;
}
.footer i:hover{
    cursor: pointer;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer .follows span svg{
    height: 30px;
    width: 30px;
}
.link_list, .link_item{
    background: transparent;
}
.link_list a{
    color: var(--dark_color);
    font-weight: 500;
}
.spanIcon{
    display: grid;
    grid-template-columns: repeat(4,auto);
}
span:nth-child(5) {
    grid-column-start: 2;
}
span:nth-child(6) {
    margin-top: -4px;
}
.footer .container .row >* {
    flex: 1;
}
@media(max-width:768px){
    .footer .container .row >* {
        flex: 0;
    }
    #footer .row .col-lg-3 {
        flex: 1;
    }
    .container > .row {
        flex-direction: column;
    }
    .follows{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .spanIcon{
        display: flex;
    }
}
@media(max-width:991px){
    .footer .container .row >.row {
        flex: 2;
    }

}