body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section{
  margin-top: 10px;
  margin-bottom: 10px;
}
i,g,svg{
  color: var(--main_color);
}
a{
  text-decoration: none;
  color: black;
}